# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual env
.venv/
venv/
ENV/
env/

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
*~

# PsychoPy
*.psyexp
.psychopy3/

# Environment
.env
.env.local
*.log
lsl_report_*.txt

# OS
.DS_Store
Thumbs.db

# Локальные данные / логи
results/*.pkl
saved_data/
data/examination_logs/
docs/